:root {
  --blue: #2196f3;
  --grey: #757575;
  --blue-button: #188ce8;
  --primery-text-color: #212121;
  --white-color: #ffffff;
  --dark-grey: #2f303a;
  --bg-ylight-gra: #f5f4fa;
  --border-light-gra: #ececec;
  --grayish-blue: #afb1b8;
  --primery-white-color: rgba(255, 255, 255, 0.6);
}
body {
  font-family: "Roboto", tahoma, sans-serif;
  color: var(--primery-text-color);
}
.list {
  text-decoration: none;
}
.link{
  list-style-type: none;
}

/*--------------------------------------------- headr -----------------------------------------------*/

.headr-logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1, 19;
  color: var(--blue);
}
.headr-colortext {
  color: var(--primery-text-color);
}
.headr-link {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--primery-text-color);
}

.headr-tel-link {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--blue);
}
.headr-mail-link {
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.02em;
  color: var(--grey);
}

.headr-link .headr-tel-link .headr-mail-link:focus,
.headr-link .headr-tel-link .headr-mail-link:hover{
  color: var(--blue);
}
/* -----------------------------------------------hero-------------------------------------------------- */
.hero {
  background-color: var(--dark-grey);
}
.hero-title {
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
}
.hero-btn {
  background: var(--blue-button);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-color);
}
/* ---------------------------------------------description ------------------------------------------------- */
.description-main-title {
  display: none;
}
.description-title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primery-text-color);
}
.description-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--grey);
}
/* ------------------------------------------------our-works--------------------------------------------------- */

.our-works-main-title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primery-text-color);
}
/* ---------------------------------------------------OurTeam----------------------------------------------- */
.OurTeam-main-title {
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
  color: var(--primery-text-color);
}
.OurTeam-title {
  font-size: 16px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--primery-text-color);
}
.OurTeam-text {
  font-size: 16px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--grey);
}
/* -------------------------------------------------footer-------------------------------------------------- */
.footer {
  background: var(--dark-grey);
}
.footer-logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--blue);
}
.footer-colortext {
  color: var(--white-color);
}
.footer-address-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--white-color);
}
.footer-mail-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primery-white-color);
}

.footer-tel-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primery-white-color);
}
/* ----------------------------------------------portfolio-------------------------------------------- */
.navigation-list {
}
.navigation-item {
}
.navigation-btn {
  background: var(--bg-ylight-gra);
  border-radius: 4px;
  cursor: pointer;
  /* font-family: inherit; */
  /* font-style: normal; */
  /* font-weight: 500; */
  /* font-size: 16px; */
  line-height: 1.62;
  letter-spacing: 0.03em;
}
.navigation-btn:hover,
.navigation-btn:focus {
  background-color: var(--blue);
  color: var(--white-color);
}
