:root {
  --blue: #2196f3;
  --grey: #757575;
  --blue-button: #188ce8;
  --primery-text-color: #212121;
  --white-color: #ffffff;
  --dark-grey: #2f303a;
  --bg-ylight-gra: #f5f4fa;
  --border-light-gra: #ececec;
  --grayish-blue: #afb1b8;
}
body {
  font-family: "Roboto", tahoma, sans-serif;
  /* color: var(--primery-text-color); */
}

/*-------------------------------------------------- HEADR ---------------------------------------------------*/

.headr {
  background-color: var(--bg-ylight-gra);
  /* display: flex; */
}
.colortext {
  color: var(--blue);
}

.headr-logo {
  list-style: none;
  text-decoration: none;
  text-transform: capitalize;
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.19em;
  color: var(--primery-text-color);
}

.headr-nav {
}
.headr-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: #212121;
}
.portfolio-color {
  color: var(--blue-button);
}

.headr-link:hover,
.headr-link:focus {
  color: var(--blue);
  font-size: 24px;
}
.headr-nav-contact {
  /* list-style: none;
  text-decoration: none;
  display: flex;
  justify-content: space-between; */
}

.headr-mail {
  font-family: "Roboto", tahoma, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}
.headr-tel {
  width: 122px;
  height: 16px;
  left: 1263px;
  top: 32px;
}

/*------------------------------------------- navigation ---------------------------------------------------*/

.navigation-button_list {
  text-decoration: none;
  list-style: none;
}
.navigation-button {
  width: 128px;
  height: 38px;
  left: 576px;
  top: 174px;

  background: #f5f4fa;
  border-radius: 4px;
}
.navigation-button:hover,
.navigation-button:focus {
  background-color:var(--blue-button);
  color:var(--white-color);
}
/*------------------------------------------ portfolio ---------------------------------------------------*/

.portfolio {
}
.portfolio-list {
}
.portfolio-item {
}
.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}
.portfolio-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
}

/*------------------------------------------- footer ---------------------------------------------------*/

.footer {
  width: 1600px;
  height: 252px;
  left: 0px;
  top: 1628px;
  background: #2f303a;
}
.footer-logo {
  list-style: none;
  text-decoration: none;
  text-transform: capitalize;
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.19em;
  color: var(--white-color);
}

.footer-address-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.footer-mail {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-tel {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
